<!--登录页和首页模板-->
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <meta name="keywords" content="LearnCore后台管理系统">
    <meta name="description" content="LearnCore后台管理系统">

    <link rel="bookmark" href='@Url.Content("~/favicon.ico")' />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
    <link rel="stylesheet" href="@Url.Content("~/lib/layui2.5.5/layui/css/layui.css")" media="all">
    <link rel="stylesheet" href="@Url.Content("~/lib/layui2.5.5/style/admin.css")" media="all">

    @RenderSection("header", false)
</head>
<body class="fixed-sidebar full-height-layout gray-bg login">
    @RenderBody()
    @RenderSection("footer", false) 
</body>
</html>
